<div class="login-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    <i class="icon-lightbulb yellow"></i>
                    <span>智能灯控系统</span>
                </h2>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-12">
                <div class="login-box">
                    <h4>
                        <i class="icon-coffee green"></i>
                        <span class="blue">请输入您的账号信息</span>
                    </h4>

                    <div class="has-feedback">
                        <input class="form-control" type="text" placeholder="用户名" ng-model="username">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="has-feedback">
                        <input class="form-control" type="password" placeholder="密码" ng-model="password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div id="rememberMe">
                        <input type="checkbox" ng-model="rememberMe">记住我
                    </div>
                    <div id="loginButton">
                        <button type="button" class="btn btn-primary" ng-click="login()">
                            <i class="icon-key"></i>
                            <span>登录</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>